* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

hr {
    color: rgb(193, 193, 193);
    margin-left: 20px;
    margin-right: 20px;
    opacity: 0.2;
}

body {
    background-color: rgb(0, 0, 0);
    padding-top: 80px;
}

.nav-links {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    color: aliceblue;
    gap: 50px;
    padding-right: 40px;
    font-weight: 400;
    font-size: 20px;
}

.logo {
    font-weight: bold;
    color: white;
    padding-left: 20px;
    font-size: 30px;
}

.highlightlogo {
    color:aqua
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

img {
    height: 200px;
    width: 200px;
    border-radius:50%;
    object-fit: cover;
    padding: 20px;
    transition: ease 0.3s;
}

.details {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading {
    color: azure;
    font-weight: bold;
    font-size: 50px;
}

.name-hover {
    color: aqua;
    transition: ease 0.3s;
}
.name-hover:hover {
    color: aquamarine;
}

.aboutuser {
    padding: 10px;
}